{
	"presets": ["@babel/preset-typescript", "@babel/preset-react", "@babel/preset-env"],
	"plugins": [
		[
			"babel-plugin-styled-components",
			{
				"ssr": true,
				"displayName": true
			}
		]
	],
	"env": {
		"test": {
			"plugins": [
				[
					"babel-plugin-styled-components",
					{
						"ssr": false,
						"displayName": false
					}
				]
			]
		}
	}
}
